@import url(https://fonts.googleapis.com/css?family=Bungee);

#buttonsContainer,
#order-list {
  margin: 1rem 2rem;
  display: grid; /* Enables CSS Grid Layout */
  grid-template-columns: 25% 25% 25% 25%; /* Creates four columns, each taking equal space */
  gap: 5px; /* Adds space between buttons */
  justify-content: center; /* Centers the grid within the container if extra space is available */
  align-items: center; /* Vertically centers the buttons in their grid cell */
}

.table-btn {
  width: auto;
  background-color: #cbf3f0;
  border-radius: 50px;
  color: #11534d;
  border: 3px solid #2ec4b6;
  line-height: 1;
  font-size: auto;
  margin: 4px;
  padding: 20px 15px;
  font-family: "Bungee";
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  text-align: center;
  box-sizing: border-box;
}

.active-btn {
  background-color: #2ec4b6;
  color: #fff;
}

button[disabled] {
  opacity: 0.5;
  cursor: not-allowed;
}

.extra-div {
  display: flex;
}

.extra-btn {
  flex: 1;
  padding: 10px;
  font-size: 16px;
  margin: 10px;
  margin-top: 15px;
  cursor: pointer;
}

@media (max-width: 1200px) {
  .table-btn {
    font-size: 14px; /* Font size for medium screens */
  }
}

@media (max-width: 768px) {
  .table-btn {
    font-size: 12px; /* Font size for smaller screens */
  }
}

@media (max-width: 480px) {
  .table-btn {
    padding: 10px;
    padding-left: 5px;
    border-radius: 30px;
    font-size: 10px; /* Font size for very small screens */
  }
}
