@import url(https://fonts.googleapis.com/css?family=Bungee);

#buttonsContainer {
  margin: 1rem 2rem;
  display: grid; /* Enables CSS Grid Layout */
  grid-template-columns: 25% 25% 25% 25%; /* Creates four columns, each taking equal space */
  gap: 5px; /* Adds space between buttons */
  justify-content: center; /* Centers the grid within the container if extra space is available */
  align-items: center; /* Vertically centers the buttons in their grid cell */
}

.table-btn {
  width: auto;
  background-color: #cbf3f0;
  border-radius: 50px;
  color: #11534d;
  border: 3px solid #2ec4b6;
  line-height: 1;
  font-size: auto;
  margin: 4px;
  padding: 20px 15px;
  font-family: "Bungee";
  /* display: inline-block; */
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  text-align: center;
  box-sizing: border-box;
  /* gap: 10px; */
}
.table-btn:hover,
.table-btn:focus {
  -webkit-animation-name: wobble;
  animation-name: wobble;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}

.active-btn {
  background-color: #2ec4b6; /* Active state color */
  color: #fff; /* White text color for contrast */
}

@-webkit-keyframes wobble {
  16.65% {
    -webkit-transform: translateX(8px);
    transform: translateX(8px);
  }
  33.3% {
    -webkit-transform: translateX(-6px);
    transform: translateX(-6px);
  }
  49.95% {
    -webkit-transform: translateX(4px);
    transform: translateX(4px);
  }
  66.6% {
    -webkit-transform: translateX(-2px);
    transform: translateX(-2px);
  }
  83.25% {
    -webkit-transform: translateX(1px);
    transform: translateX(1px);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
@keyframes wobble {
  16.65% {
    -webkit-transform: translateX(8px);
    transform: translateX(8px);
  }
  33.3% {
    -webkit-transform: translateX(-6px);
    transform: translateX(-6px);
  }
  49.95% {
    -webkit-transform: translateX(4px);
    transform: translateX(4px);
  }
  66.6% {
    -webkit-transform: translateX(-2px);
    transform: translateX(-2px);
  }
  83.25% {
    -webkit-transform: translateX(1px);
    transform: translateX(1px);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

button[disabled] {
  opacity: 0.5;
  cursor: not-allowed;
}
