body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  background: #f0f0f0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  background: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(10px);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

header .logo {
  height: 50px;
}

header h1 {
  font-size: 24px;
  margin: 0;
}

header .logout-btn {
  background: #ff6347;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
}

main {
  flex: 1;
  padding: 20px;
  background: rgba(255, 255, 255, 0.9);
  backdrop-filter: blur(10px);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin: 20px;
  border-radius: 10px;
}

main h2 {
  font-size: 20px;
  margin-bottom: 20px;
}

#buttonsContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

#ordersContainer {
  overflow-x: auto;
  width: 100%;
  margin-top: 20px;
}

footer {
  background: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(10px);
  text-align: center;
  padding: 10px 0;
  box-shadow: 0 -4px 6px rgba(0, 0, 0, 0.1);
}

/* Table Styles */
#orderIDHeader {
  text-align: center;
  margin: 4rem 0 1rem 0;
  padding: 0;
  font-size: 1.5em;
  font-weight: bold;
}

table {
  /* margin: 1rem 2rem 0 5.5rem; */
  margin-top: 1rem;
  border-collapse: collapse; /* Removes space between table cells */
  width: auto;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15); /* Adds a subtle shadow for depth */
  border: 2px solid red;
}

th,
td {
  margin: 1rem 0 1rem 0;
  border: 1px solid #ddd;
}

th {
  background-color: #f0f8ff;
  font-weight: bold;
  text-transform: uppercase;
}

tr.button-row td {
  /* padding: 8px 4px; */
  border: none;
  text-align: center;
}

.first-pair {
  background-color: #90ee90;
}

footer {
  font-size: 12px;
}

th,
td {
  padding: 8px;
}

th {
  font-size: 14px;
}

.payment-btn {
  background-color: #12cbc4;
  border: none;
  border-radius: 6px;
  color: #fff;
  cursor: pointer;
  font-size: 14px;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  transition: background-color 0.2s ease-in-out;
  margin: 1rem 2rem 0 5.5rem;
  /* width: 150px; */
}

.payment-btn {
  background-color: #12cbc4;
  border: none;
  border-radius: 6px;
  color: #fff;
  cursor: pointer;
  font-size: 14px;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  transition: background-color 0.2s ease-in-out;
  margin: 1rem 2rem 0 5.5rem;
  /* width: 150px; */
}

.discountInput {
  background-color: #fff;
  border-radius: 6px;
  border: solid 1px #eee;
  box-shadow: 0px 2px 5px 0px rgba(155, 155, 155, 0.5);
  box-sizing: border-box;
  font-size: 14px;
  height: 42px;
  padding: 8px;
  width: 65%;
  transition: all 0.2s ease-in-out;
}
.label_discountInput {
  font-family: "Ubuntu", sans-serif;
}
