body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  background: #f0f0f0;
  display: none;
  flex-direction: column;
  min-height: 100vh;
}

header {
  background: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(10px);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

header .logo {
  height: 50px;
}

header h1 {
  font-size: 24px;
  margin: 0;
}

header .logout-btn {
  background: #ff6347;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
}

main {
  flex: 1;
  padding: 20px;
  background: rgba(255, 255, 255, 0.9);
  backdrop-filter: blur(10px);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin: 20px;
  border-radius: 10px;
}

main h2 {
  font-size: 20px;
  margin-bottom: 20px;
}

#buttonsContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

footer {
  background: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(10px);
  text-align: center;
  padding: 10px 0;
  box-shadow: 0 -4px 6px rgba(0, 0, 0, 0.1);
}

/* Table Styles */
#orderIDHeader {
  text-align: center;
  margin: 4rem 0 1rem 0;
  padding: 0;
  font-size: 1.5em;
  font-weight: bold;
}

.orderDetailsContainer {
  font-size: 1em;
  font-weight: bold;
}

.orderDetailsContainer,
p,
.discount-container {
  margin: 1rem 5%;
  /* margin-left: 0; */
}

table {
  /* margin: 1rem 2rem 0 5.5rem; */
  margin-top: 1rem;
  border-collapse: collapse; /* Removes space between table cells */
  width: 90%;
  margin: 0 5%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15); /* Adds a subtle shadow for depth */
  border: 2px solid red;
}

th,
td {
  /* margin: 1rem 0 1rem 0; */
  border: 1px solid #ddd;
}

th {
  background-color: #f0f8ff;
  font-weight: bold;
  text-transform: uppercase;
}

tr.button-row td {
  /* padding: 8px 4px; */
  border: none;
  text-align: center;
}

.first-pair {
  background-color: #90ee90;
}

footer {
  font-size: 12px;
}

th,
td {
  padding: 8px;
}

th {
  font-size: 14px;
}

.payment-btn {
  background-color: #12cbc4;
  border: none;
  border-radius: 6px;
  color: #fff;
  cursor: pointer;
  font-size: 14px;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  transition: background-color 0.2s ease-in-out;
  margin: 2rem 5%;
}

.discountInput {
  background-color: #fff;
  border-radius: 6px;
  border: solid 1px #eee;
  box-shadow: 0px 2px 5px 0px rgba(155, 155, 155, 0.5);
  box-sizing: border-box;
  font-size: 14px;
  height: 42px;
  padding: 8px;
  width: 65%;
  transition: all 0.2s ease-in-out;
}
.label_discountInput {
  font-family: "Ubuntu", sans-serif;
}

.popup {
  /* display: none; */
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  border: 1px solid #ccc;
  padding: 20px;
  z-index: 1000;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 70%;
  max-width: 90%; /* Allow the popup to be responsive */
  max-height: 90vh;
  overflow-y: auto; /* Add scrolling for overflow content */
  box-sizing: border-box;
}
.popup-overlay {
  /* display: none; */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 999;
}
.hidden {
  display: none;
}

.popup-table {
  width: 100%;
  margin: 1.5rem 0;
}

#qrCodeImage {
  width: 200px;
  height: 200px;
}

.message-section {
  margin-top: 20px;
}

.message-section label {
  display: block;
  margin-bottom: 6px;
  font-weight: bold;
}

.message-section textarea {
  width: 100%;
  padding: 8px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical; /* Allow vertical resizing */
}

.popup.hidden {
  display: none; /* Hide the popup by default */
}

.popup-content {
  text-align: center;
}

#confirmationPopup {
  width: 300px; /* Adjust width as needed */
}

.form-btn {
  background-color: #12cbc4;
  border: none;
  border-radius: 6px;
  color: #fff;
  cursor: pointer;
  font-size: 14px;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  transition: background-color 0.2s ease-in-out;
  margin: 5px;
}

@media screen and (max-width: 600px) {
  table {
    border: 0;
  }

  table caption {
    font-size: 1.3em;
  }

  table thead {
    border: none;
    clip: rect(0 0 0 0);
    height: 0px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }

  table tr {
    border-bottom: 3px solid #ddd;
    display: block;
    margin-bottom: 0.625em;
  }

  table td {
    border-bottom: 1px solid #ddd;
    display: block;
    font-size: 0.8em;
    text-align: right;
  }

  table td::before {
    /*
    * aria-label has no advantage, it won't be read inside a table
    content: attr(aria-label);
    */
    content: attr(data-label);
    float: left;
    font-weight: bold;
    text-transform: uppercase;
  }

  table td:last-child {
    border-bottom: 0;
  }
}

/* general styling */
body {
  font-family: "Open Sans", sans-serif;
  line-height: 1.25;
}
