@import url(https://fonts.googleapis.com/css2?family=Calistoga);
body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  flex-direction: column;
  align-items: center;
  background-color: #eaeaea;
}

header {
  background-color: #333;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  text-align: center;
  position: relative;
  height: auto;
}

header .logo {
  position: absolute;
  left: 20px;
  top: 10px;
  height: 50px;
}

header .logout-btn {
  position: absolute;
  right: 20px;
  top: 10px;
  background-color: #ff4b4b;
  color: white;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 12px;
  transition: background-color 0.3s;
}

header .logout-btn:hover {
  background-color: #ff0000;
}

h1 {
  flex-grow: 1;
  margin: 0;
  text-align: center;
}

h2 {
  text-align: center;
  margin: 1rem 2rem;
  color: #343a40;
}

p {
  font-family: "Calistoga";
  text-align: left;
  margin: 1rem 2rem 0 5.5rem;
  color: #343a40;
}

.table-btn {
  padding: 8px 16px; /* Padding inside buttons */
  margin: 0 4px; /* Space between buttons */
  background-color: #f8f9fa; /* Light grey background, change as necessary */
  border: 1px solid #ccc; /* Grey border */
  border-radius: 4px; /* Rounded corners */
  font-size: 14px; /* Text size within button */
  cursor: pointer; /* Cursor indicates clickable */
  transition: background-color 0.3s ease; /* Smooth transition for background color */
}

#orderIDHeader {
  text-align: center;
  margin: 4rem 0 1rem 0;
  padding: 0;
  font-size: 1.5em;
  font-weight: bold;
}

table {
  margin: 0 auto; /* Centers the table */
  margin-top: 1rem;
  border-collapse: collapse; /* Removes space between table cells */
  width: 80%; /* Sets the table width to 80% of the parent container */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15); /* Adds a subtle shadow for depth */
}

th,
td {
  margin: 1rem 0 1rem 0;
  border: 1px solid #ddd; /* Adds a light border to cells */
  padding: 12px 15px; /* Adds padding for better readability */
  text-align: left; /* Aligns text to the left */
}

th {
  background-color: #f0f8ff; /* Sets a light background color for header cells */
  font-weight: bold; /* Makes header text bold */
  text-transform: uppercase; /* Transforms text to uppercase */
}

tr.button-row td {
  padding: 8px 4px;
  border: none;
  text-align: center;
}

.first-pair {
  padding: 1rem 0;
  background-color: #90ee90; /* Light gray */
}

footer {
  width: 100%;
  background-color: #383232;
  color: white;
  text-align: center;
  padding: 10px;
  position: fixed;
  bottom: 0;
}

main {
  padding-bottom: 100px; /* Adjust this value based on the footer height */
}

/* Media queries for responsive design */
@media (max-width: 640px) {
  header {
    flex-direction: column;
    align-items: center;
    padding: 10px 0;
  }
  header .logo {
    height: 40px;
    top: 5px;
    left: 10px;
  }
  h1 {
    font-size: 1.2em;
    text-align: center;
    width: 100%;
  }
  header .logout-btn {
    top: 10px;
    right: 10px;
    padding: 5px 10px;
    font-size: 14px;
  }
}
