body {
  font-family: "Roboto", sans-serif;
  display: none;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 0;
  background-color: #000; /* Black background */
  /* overflow: hidden; */
}

.content {
  min-height: calc(100vh - 60px); /* Subtracting footer height */
  /* padding: 20px; */
}

header {
  padding-top: 0.5rem;
  width: 100%;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between; /* Space out the elements */
}

.logo {
  margin: 0 1rem;
  height: 50px;
}

h1 {
  flex-grow: 1; /* Take up available space to center the h1 */
  margin: 0;
  text-align: center;
}

.logout-btn {
  margin: 0 1rem;
  background-color: #dc3545;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
  font-size: 16px;
}

.logout-btn:hover {
  background-color: #c82333;
}

/* main {
  display: flex;
  width: 100%;
  padding: 20px;
} */

h2 {
  margin-top: 0;
  color: #343a40;
}

.table-buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.button-row {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 15px;
  cursor: pointer;
  border-radius: 5px;
  font-size: 16px;
  width: 100px;
}

.button-row {
  background-color: #0056b3;
}

#orderIDHeader {
  text-align: center;
  /* margin: 1rem 1rem; */
  padding: 1rem 0 0 0;
  color: #fff;
  font-size: 1.5em;
  font-weight: bold;
}

.orderDetails {
  margin: 3rem 2rem;
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 80%;
  max-height: 400px; /* Set a max height for the section */
  overflow-y: auto; /* Enable vertical scrolling */
}

.orderDetails h2,
.orderDetails p {
  margin: 10px 0;
}

table {
  margin: 0 auto; /* Centers the table */
  border-collapse: collapse; /* Removes space between table cells */
  width: 80%; /* Sets the table width to 80% of the parent container */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15); /* Adds a subtle shadow for depth */
}

th,
td {
  margin: 1rem 0 1rem 0;
  border: 1px solid #ddd; /* Adds a light border to cells */
  padding: 12px 15px; /* Adds padding for better readability */
  text-align: left; /* Aligns text to the left */
}

th {
  background-color: #444444; /* Sets a light background color for header cells */
  font-weight: bold; /* Makes header text bold */
  text-transform: uppercase;
  color: #fff;
}

/* tr:hover {
  background-color: #f1f1f1; 
} */

tr.button-row td {
  padding: 8px 4px;
  /* background-color: #f9f9f9; */
  border: none;
  text-align: center;
}

caption {
  caption-side: bottom; /* Positions caption at the bottom of the table */
  padding: 8px; /* Adds padding to the caption */
  font-style: italic; /* Italicizes the caption text */
  font-size: 0.9em; /* Sets font size slightly smaller than the table text */
}

/* Initial button styles */
.status-btn {
  padding: 10px 20px;
  margin: 4px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 33%;
  box-sizing: border-box;
  transition: all 0.3s ease; /* Smooth transition for style changes */
}

/* Styles for active status */
.active {
  font-weight: bold;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2); /* Shadow to lift the button */
}

/* Animation for Preparing status */
@keyframes preparing-animation {
  0%,
  100% {
    background-color: #ffcc00;
  }
  50% {
    background-color: #ffd633;
  }
}

.preparing.active {
  animation: preparing-animation 2s infinite; /* Looping animation */
}

/* Animation for Cooked status */
@keyframes cooked-animation {
  0%,
  100% {
    background-color: #00cc66;
  }
  50% {
    background-color: #33d97a;
  }
}

.cooked.active {
  animation: cooked-animation 2s infinite; /* Looping animation */
}

/* Animation for Delivered status */
@keyframes delivered-animation {
  0%,
  100% {
    background-color: #3399ff;
  }
  50% {
    background-color: #66aaff;
  }
}

.delivered.active {
  animation: delivered-animation 2s infinite; /* Looping animation */
}

.first-pair {
  padding: 1rem 0;
  background-color: #90ee90; /* Light gray */
}

.second-pair {
  padding: 1rem 0;
  background-color: #ffffff; /* Slightly darker gray */
}

/* Footer styles */
.footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 20px;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-link {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}

.footer-link:hover {
  color: #ff9800;
}

.footer-info {
  font-size: 14px;
  font-weight: 600;
}

#tableContainer {
  padding-bottom: 20px;
  background-color: #111111;
}

/* Media query for screen sizes below 500px */
@media screen and (max-width: 400px) {
  .table-btn {
    font-size: 12px; /* Adjust button text size for smaller screens */
  }

  .logout-btn {
    margin: 0 1rem;
    padding: 8px 12px;
    cursor: pointer;
    font-size: 14px;
  }
}
