/* styles.css */
body {
  font-family: "Arial", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

header {
  background-color: #35424a;
  color: white;
  padding: 20px 0;
  text-align: center;
  position: relative;
}

header .logo {
  position: absolute;
  left: 20px;
  top: 10px;
  height: 60px;
}

header .logout-btn {
  position: absolute;
  right: 20px;
  top: 20px;
  background-color: #ff4b4b;
  color: white;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 12px;
  transition: background-color 0.3s;
}

header .logout-btn:hover {
  background-color: #ff0000;
}

button {
  background-color: #35424a;
  color: white;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 12px;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #575757;
}

/* Form Styling */
form {
  max-width: 80%;
  margin: 3rem 7rem;
  background: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.formTable {
  width: 100%;
}

form label {
  display: block;
  margin-bottom: 8px;
}

form input[type="text"],
form input[type="number"] {
  width: 80%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

form input[type="submit"] {
  width: 100%;
  background-color: #35424a;
  color: white;
  border: none;
  padding: 10px 20px;
  text-align: center;
  font-size: 16px;
  margin: 4px 0;
  cursor: pointer;
  border-radius: 12px;
  transition: background-color 0.3s;
}

form input[type="submit"]:hover {
  background-color: #575757;
}

.tableQuantity {
  width: 30%;
}

@media only screen and (max-width: 600px) {
  form {
    max-width: 95%;
    margin: 0;
    background: white;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

  form input[type="text"],
  form input[type="number"] {
    width: 50%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }

  tr,
  th {
    width: 50%;
    padding: 8px;
    margin-bottom: 10px;
  }
}
