/* styles.css */
body {
  font-family: "Arial", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
  display: none;
}

header {
  background-color: #4caf50;
  color: white;
  padding: 20px 0;
  text-align: center;
  position: relative;
  display: flex;
  align-items: center; /* Vertically centers content */
  justify-content: space-between;
}

header .logo {
  position: absolute;
  left: 20px;
  top: 10px;
  height: 60px;
}

h1#pageTitleLarge {
  display: inline-block;
}

h1#pageTitleSmall {
  display: none;
}

#pageTitleLarge,
#pageTitleSmall {
  flex-grow: 1; /* Allows the titles to take up remaining space */
  text-align: center; /* Center the titles horizontally */
}

.logout-btn {
  position: absolute;
  right: 20px;
  background-color: #ff4b4b;
  color: white;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 12px;
  transition: background-color 0.3s;
  margin-left: auto;
}

header .logout-btn:hover {
  background-color: #ff0000;
}

#editForm {
  background: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  /* border: 2px solid red; */
  margin: 2rem;
}

form input[type="submit"] {
  width: 100%;
  background-color: #35424a;
  color: white;
  border: none;
  padding: 10px 20px;
  text-align: center;
  font-size: 16px;
  margin: 4px 0;
  cursor: pointer;
  border-radius: 12px;
  transition: background-color 0.3s;
}

form input[type="submit"]:hover {
  background-color: #575757;
}

/* Full-screen overlay */
#loading-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

/* Spinner style */
.spinner {
  width: 50px;
  height: 50px;
  border: 5px solid rgba(0, 0, 0, 0.1);
  border-top-color: #333;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

.loading-spinner {
  border: 4px solid transparent;
  border-top: 4px solid #3498db;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  animation: spin 1s linear infinite;
}

/* Spinner animation */
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

footer {
  background-color: #4caf50;
  color: white;
  text-align: center;
  padding: 1rem;
  font-size: 0.9rem;
}

#orderIDHeader {
  margin: 2rem 0 1rem 3rem;
  padding: 0;
  text-align: left;
  font-size: 1.5em;
  font-weight: bold;
}

#json-container {
  margin: 0;
  padding-bottom: 20px;
}
.table-responsive {
  width: 100%;
  /* overflow-x: auto; */
}

.header-cell {
  min-width: 100px;
  max-width: 250px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  padding: 8px;
}

select,
input[type="text"],
input[type="number"],
.deleteRowBtn,
.statusBtn {
  background-color: #fff;
  border-radius: 6px;
  border: solid 1px #eee;
  box-shadow: 0px 2px 5px 0px rgba(155, 155, 155, 0.5);
  box-sizing: border-box;
  font-size: 14px;
  height: 42px;
  padding-left: 10px;
  width: calc(100% - 10px);
  transition: all 0.2s ease-in-out;
  /* border: 2px solid red; */
}

.deleteRowBtn {
  font-size: 14px;
  background-color: #12cbc4;
  border: none;
  border-radius: 6px;
  color: #fff;
  cursor: pointer;
  /* padding: 10px 20px; */
  text-align: center;
  text-decoration: none;
  transition: background-color 0.2s ease-in-out;
  margin: 5px;
}

input[type="text"]:focus,
input[type="number"]:focus,
select:focus {
  border-color: #12cbc4;
  box-shadow: 0 0 8px rgba(18, 203, 196, 0.5);
}

.form-btn {
  background-color: #12cbc4;
  border: none;
  border-radius: 6px;
  color: #fff;
  cursor: pointer;
  font-size: 14px;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  transition: background-color 0.2s ease-in-out;
  margin: 15px 5px 40px 5px;
}

.statusBtn {
  background-color: #12cbc4;
  border: none;
  border-radius: 6px;
  color: #fff;
  cursor: pointer;
  font-size: 14px;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  transition: background-color 0.2s ease-in-out;
  margin: 5px;
  margin-left: 0;
}

.form-btn:hover {
  background-color: #0f9ba8;
}

.formTable {
  width: 100%;
  /* table-layout: fixed; */
  border-collapse: collapse;
}

.formTable th:nth-child(1),
.formTable th:nth-child(2),
.formTable th:nth-child(3),
.formTable th:nth-child(4),
.formTable th:nth-child(5),
.formTable th:nth-child(6) {
  margin-left: 0;
}

.formTable th:nth-child(1),
.formTable td:nth-child(1) {
  width: 37%;
}

.formTable th:nth-child(2),
.formTable td:nth-child(2),
.formTable th:nth-child(4),
.formTable td:nth-child(4),
.formTable th:nth-child(6),
.formTable td:nth-child(6) {
  width: 10%;
}

.formTable th:nth-child(3),
.formTable td:nth-child(3) {
  width: 15%;
}

.formTable th:nth-child(5),
.formTable td:nth-child(5) {
  width: 18%;
}

.formTable td:nth-child(5) button {
  vertical-align: middle;
  width: 100%;
}

.formTable td:nth-child(6) {
  margin: 5px;
}

@media (max-width: 600px) {
  /* Force table elements to behave like blocks */
  .table-responsive table,
  .table-responsive thead,
  .table-responsive tbody,
  .table-responsive th,
  .table-responsive td,
  .table-responsive tr {
    display: block;
    border-radius: 10px;
  }

  /* Hide table headers on mobile */
  .table-responsive thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }

  /* Style each cell with padding and full width */
  .table-responsive td {
    /* border: 2px solid red; */
    position: relative;
    padding-left: 35%; /* Change this to adjust space for Heade names like ItemName Quantity, etc*/
    text-align: right;
  }

  /* Label the data */
  .table-responsive td:before {
    position: absolute;
    left: 3px;
    font-weight: bold;
  }

  /* Assign label values based on their order */
  .table-responsive td:nth-of-type(1):before {
    content: "ItemName";
  }
  .table-responsive td:nth-of-type(2):before {
    content: "Quantity";
  }
  .table-responsive td:nth-of-type(3):before {
    content: "Note";
  }
  .table-responsive td:nth-of-type(4):before {
    content: "Dine-In";
  }
  .table-responsive td:nth-of-type(5):before {
    content: "Status";
  }
  .table-responsive td:nth-of-type(6):before {
    content: "Action";
  }

  /* Style to place the second half of the row below the first half */
  .table-responsive tr {
    padding-bottom: 20px;
    padding-top: 20px;
  }

  .table-responsive td:nth-of-type(1),
  .table-responsive td:nth-of-type(2),
  .table-responsive td:nth-of-type(3),
  .table-responsive td:nth-of-type(4),
  .table-responsive td:nth-of-type(5),
  .table-responsive td:nth-of-type(6) {
    display: flex;
    align-items: center;
    margin: 15px 3px;
  }

  .table-responsive table tbody tr:nth-child(odd) {
    background-color: #f2f2f2; /* Light grey color for odd rows */
  }

  .table-responsive table tbody tr:nth-child(even) {
    background-color: #ffffff; /* White color for even rows */
  }

  .addRowBtn .submitBtn .toBillingBtn {
    margin-top: 20px;
  }

  .formTable td:nth-child(1),
  .formTable td:nth-child(2),
  .formTable td:nth-child(3),
  .formTable td:nth-child(4),
  .formTable td:nth-child(5),
  .formTable td:nth-child(6) {
    width: auto;
  }
}

@media (max-width: 640px) {
  body {
    padding: 5px;
  }
  header {
    padding: 10px 0;
  }

  h1#pageTitleSmall {
    display: inline-block;
    font-size: 2em;
  }

  h1#pageTitleLarge {
    display: none;
  }

  header .logo {
    height: 40px;
    top: 5px;
    left: 10px;
  }

  header .logout-btn {
    /* top: 10px; */
    right: 10px;
    font-size: 18px;
  }

  #editForm {
    padding: 10px;
    margin: 1rem;
  }
  form input[type="submit"] {
    font-size: 14px;
    padding: 8px 16px;
  }
  #orderIDHeader {
    font-size: 1em;
  }
}

@media (max-width: 340px) {
  header .logout-btn {
    padding: 8px 12px;
    right: 10px;
    font-size: 15px;
  }
}

#popup {
  display: none; /* Initially hidden */
  position: fixed;
  width: 80%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 20px;
  z-index: 1000;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
#overlay {
  display: none; /* Initially hidden */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
}
.button {
  margin: 5px;
}
